body { 
	margin-right:0;
	background-color: black;
}
canvas { 
	width: 100%; 
	height: 100% 
}

h1{
	color: white;
	font-size: 45px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 0px;
}

h2{
	color: #eb522d;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	cursor: pointer;
	color: #bbb;
	font-weight: 100;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 0px;
	pointer-events: all;
}

h4{
	color: white;
	font-weight: 600;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h5{
	color: white;
	font-weight: 600;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p{
	color: white;
	font-weight: 300;
	font-size: 17px;
	margin-top: 20px;
}

hr{
	opacity: 0.4;
}

.margin-left{
	margin-left: 40%;
}

.absolute-popup-right{
	text-align: right;
	position: absolute;
	right: 10px;
	bottom: 180px;
	height: 75%;
	width: 30%;
	padding: 20px;
	background-color: transparent;
	pointer-events: none;
}

.absolute-title{
	text-align: left;
	position: absolute;
	left: 5%;
	top: 10%;
	width: 20%;
	background-color: transparent;
	pointer-events: none;
}

.absolute-slider{
	position: absolute;
	width: 40%;
	left: 30%;
	bottom: 5%;
	text-align: center;
}

.slider{
	-webkit-appearance: none;  /* Override default CSS styles */
	width: 100%;
	height: 6px;
	border-radius: 50px;
	appearance: none;
	background: #ffffff; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 1; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px;
  border-radius: 50%; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #eb522d; /* Green background */
  cursor: pointer; /* Cursor on hover */  
}






